<br><br><br><br><br><br>

<div class="center">
  <img src="<%= "/amb_images/#{@ambassador.amb_img1}" %>" class="ambassador-image">
  <p class="text_content"><%= @ambassador.amb_content1 %></p>

  <br><br><br><br>

  <% if @current_user %> 
   <div class="edit_link">  
     <%= link_to("画像と紹介文の追加", "/ambassadors1/#{@ambassador.id}/edit") %>
   </div>  
  <% end %> 
</div>    


  