<div class="main posts-index">
  <div class="container">
    <h2>参加者申込一覧</h2>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.account, "/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>