<div class="main posts-index">
 <% if flash[:notice] %>
    <%= flash[:notice] %>
 <% end %>   
  <div class="container">
    <h2>参加者申込一覧</h2>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.account %>
        <br>
        <%= post.created_at %>
      </div>
    <% end %>
  </div>
</div>